


@media screen and  (max-width: 950px) {
    body {
        overflow-x: hidden;
    }
    
    .sub-content {
        display: flex;
        
        padding: 5vh;
    }
    
    table {
        color: black;
    }
    
    fieldset {
        border: none;
    }
    
    table th {
       
        font-weight: lighter;
    }
    
    table {
       
        border: solid 1px #939393;
    }
    
    td {
        text-align: center;
    }
    .sub-content{padding:1vh;}
}